@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font: normal 2rem Arial;
    margin: 20px;
}

button {
    padding: 30px;
    font-size: 1rem;
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
}

p {
    line-height: 6rem;
}

#eBissexto {
    background-color: rgba(7, 202, 7, 0.61);
}

#naoEBissexto {
    background-color: rgba(255, 0, 0, 0.562);
}