@charset "UTF-8";

:root {
    --color-black: black;
    --color-white: white;
    --color-blue: #2222FF;
    --color-skyBlue:#00E5FC;
    --color-whiteBlue:#D7F8F9;
    --fonte-titulo-principal: 'Asap',sans-serif;
    --fonte-paragrafo: 'Monospace', sans-serif;
}



ul {
    columns: 2;
    margin: 20px auto;
}




.desafios-lista li{
    font-size: 4vh;
    font-weight: bold; 
    opacity: 50%;
    transition: 0.5s;
    margin: 18px auto;
    list-style: none;
    max-width: 400px;
    background-color: var(--color-blue);
    box-shadow: 2px 0px 10px 3px var(--color-black) inset;
    border-radius: 30px;
}

.desafios-lista li:hover {
    box-shadow: 4px 0px 12px 2px var(--color-skyBlue),
    2px 0px 8px 1px var(--color-skyBlue) inset;
    border-radius: 30px;
    max-width: 300px;
    opacity: 50%;
    background-color: var(--color-black);
}


li {
    opacity: 0;
    animation: mude 1s forwards;
}

@keyframes mude {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
    }
}