@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
    --color-black: black;
    --color-white: white;
    --color-blue: #2222FF;
    --color-skyBlue:#00E5FC;
    --color-whiteBlue:#D7F8F9;
    --fonte-titulo-principal: 'Asap',sans-serif;
    --fonte-paragrafo: 'Monospace', sans-serif;
}


html,
body {
    height: 100vh;
    font-family: var(--fonte-titulo-principal);
    text-align: center;
    padding: 20px;

    /* https://projects.verou.me/css3patterns/#starry-night */
    background-color: var(--color-black);
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}



h1 {
    margin-top: 10px;
    color: var(--color-skyBlue);
    text-transform: uppercase;
    font-size: 4vw;
}

p, h2 {
    margin: 20px 0;
    font-family: 'Monospace', sans-serif;
    padding: 0px 40px;
    color: var(--color-white);
}

.conteiner{
    background-color: var(--color-black);
    border: 5px solid var(--color-skyBlue);
    border-radius: 3em;
    margin: auto;
}

li {
    list-style: none;
}

a {
    color: #FCFCFC;
    text-decoration: none;
    font-size: 1em;
}


.perfil {
    border: 2px solid black;
    border-radius: 100%;
    box-shadow:rgb(0, 0, 0) 0px 4px 11px 9px;
}

img {
    border: 1px solid black;
    box-shadow:rgb(0, 0, 0) 0px 4px 7px 2px;
}

#img-paisagem {
    border-radius: 50px;
    margin: 20px;
}

.tagsHtml {
    color: var(--color-white);
}



@media (max-width: 450px) {

    h1,h2, a, p{
        font-size: 0.7vh;
        padding: 2px;
    }
    .desafios-lista li{
        padding: 3px;
        margin: 18px auto;
        width: 250px;
        font-size: 0.8em;
    }

    .desafios-lista li:hover{
        width: 200px;
    }

}