@media (max-width: 1000px) {
    body {
        padding: 0px;
        margin: 0;
    }
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
.img-bg {
    filter: opacity(10%) brightness(50%) saturate(20%);
    position: absolute;
    left: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    width: 100%;
}

header {
    padding-top: 50px;
}

footer {
    margin-top: 350px;
    padding-bottom: 0;
}

ol a{
    color: rgb(11, 26, 230);
    text-decoration: none;
}

li {
    list-style-type: none;
}

.proj-list {
    text-decoration: none;
    color: rgb(13, 207, 55);
}